body{
  font-size: 16px;
  font-family: Verdana,sans-serif;
  /* ゴシック体で、verdanaと指定する */
}

.container{
  width:330px;
  margin:20px auto;
}

.container ul{
  list-style:none;
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap:wrap;
}

.container li{
  width: 100px;
  height: 100px;
  line-height:100px;
  /* 数字の位置 */
  text-align:center ;
  /* 文字がセンターになる */
  cursor: pointer
  /* カーソルが乗った時にポインタになる */
  user-select:none;
  border-radius:5px;
  /* 角を丸める */
  margin:0 5px 10px;
  /* 周りと余白を取る */
}
.container div{
  text-align: right;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;

}

.container input[type="text"]{
  padding: 2px;
  margin-right: 5px;
}
