body{
  font-size: 16px;
  font-family:Verdana, sans-serif;
}

.container{
  width: 300px;
  margin: auto;
}

.container h1{
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}

.container ul{
  padding: 0;
  list-style: none;
}

.container li{
  line-height: 1.5;
}
.container input[type="checkbox"]{
  margin-right: 5px;
}

.cmd{
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  color: skyblue;
}
.container input[type="text"]{
  padding:2px;
  margin-right:5px;
}
.done{
  text-decoration: line-through;
  color: #ccc;
}

h1>span{
  font-size: 12px;
  color:#ccc;
  margin-left: 5px;
}

h1>button{
  float: right;
}
